.register, .ud-login-wrapper{
    max-width: 800px;
}

.ud-form-select ,.ud-form-textarea {

    width: 100%;
    border: 2px solid #dddddd;
    border-radius: 4px;
    padding: 12px 24px;
    background: #fcfdfe;
    color: var(--body-color);
}



